<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloMoodMetric-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HelloMoodMetric.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>307303BF1CCBFECF00B12127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307303D01CCBFECF00B12127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307303DB1CCBFECF00B12127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307303F41CCC108B00B12127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307304071CCC108C00B12127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>307304121CCC108C00B12127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
